::-webkit-scrollbar {
  width: 8px;
  position: absolute;
  background-color: white;
  /*background-image: url("../images/home.jpg");*/
}

::-webkit-scrollbar:hover {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #00b7ff;
  border-radius: 4px;
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
}

::-webkit-scrollbar-thumb:active {
  background: #02a3e2;
}

.App {
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify {
  justify-content: center;
}

.align {
  align-items: center;
}

.small {
  font-size: 18px;
}

.medium {
  font-size: 30px;
}

.black-text {
  color: rgb(67, 67, 67);
}

.white-text {
  color: white;
}

.blue-text {
  color: #00b7ff;
}

.orange-text {
  color: orange;
}

.berlin {
  font-family: "Berlin Sans FB";
}

.forte {
  font-family: "Forte";
}

.bold {
  font-weight: bold;
}

.box-shadow {
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.21), 0 5px 19px 0 rgba(0, 0, 0, 0.2);
}

.box-shadow-2 {
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.22), 0 7px 21px 0 rgba(0, 0, 0, 0.21);
}

.blue-background {
  background-color: #00b7ff !important;
}

.blue-background-2 {
  background-color: #49cbff !important;
}

.blue-background-3 {
  background-color: #7bdaff !important;
}

.blue-background-4 {
  background-color: #9fe4ff !important;
}

.green-background {
  background-color: rgb(44, 214, 44) !important;
}

.green-background-2 {
  background-color: rgb(88, 212, 88) !important;
}

.orange-background {
  background-color: orange !important;
}

.orange-background-2 {
  background-color: rgb(255, 178, 35) !important;
}

.trans-background {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.trans-background-2 {
  background-color: rgba(0, 0, 0, 0.05) !important;
}



/* Home.js */
.home {
  margin-top: 30px;
  margin-bottom: 30px;
  height: auto;
  width: 100%;
}

.title-container {
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 20px;
  color: white;
  background-color: #00b7ff;
  border-radius: 20px 20px 0px 0px;
  padding: 18px;
  font-family: "Forte";
  font-weight: bolder;
}






/* Table.js */
.table {
  margin: 0px;
  padding: 0px;
  height: auto;
  width: 95vw;
  overflow-y: auto;
}





/* Days.js */
.day, .content-name, .content-instructor, .content-type, .time {
  margin: 0.6vw 0.2vw;
  height: calc((250vh - 3vw) / 6);
  width: 12vw;
  border-radius: 5px 5px 5px 25px;
  background-color: white;
}

.content-name, .content-instructor, .content-type, .time {
  border-radius: 5px;
  background-color: rgb(243, 243, 243);
}

.content-type {
  border-radius: 5px 5px 25px 5px;
}

.content-name, .content-instructor {
  width: 28vw;
}

.time {
  width: 10vw;
}

.content-type-2 {
  border-radius: 5px 25px 5px 5px;
}

.day-2 {
  border-radius: 25px 5px 5px 5px;
}

.divide {
  height: calc(((250vh - 3vw) / 6) / 6);
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.divide:last-child {
  border-bottom: none;
}

.banner {
  height: calc(((250vh - 3vw) / 6) / 6);
}

.input input {
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border: none;
  text-align: center;
  width: 100%;
}